<div class="full-container">
    <div class="card text-white bg-primary m-5">
        <div class="card-header">
            <h2>{{weather.location.name }}</h2>
            <p>
                <img [src]="weather.current.condition.icon" alt="weather image">
            </p>
        </div>
        <div class="card-body">
            <p class="card-text">Temperatura: {{weather.current.temp_c}} ⁰C</p>
            <p class="card-text">Sensação térmica: {{weather.current.feelslike_c}} ⁰C</p>
            <p class="card-text">Umidade: {{weather.current.humidity}}%</p>
            <p class="card-text">Pressão atmosférica: {{weather.current.pressure_mb}} hPa</p>

        </div>
    </div>

</div>